.appointment-row {
    position: relative;
}

.time-column {
    width: 120px;
}

.name-phone-column {
    width: 60%;
}

.time-slot {
    position: relative;
    text-align: center;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
}

.time-text {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.slot {
    position: relative;
    min-height: 60px;
}

.slot .appointment {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.slot .appointment input {
    width: calc(78% - 5px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slot .appointment input:focus {
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(41, 128, 185, 0.5);
    outline: none;
}

.complete {
    background-color: #d4edda !important;
}

.complete .appointment input {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.checkbox {
    transform: scale(2);
    margin: 0;
    padding: 0;
}

.complete .checkbox[name="fingerprint_card_only"] {
    cursor: not-allowed;
}

.reserve-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.reserve-checkbox input {
    transform: scale(2);
    margin-right: 10px;
}

.reserved {
    position: relative;
}

.reserved::after {
    content: "RESERVED";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: white;
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.appointment-row.editing {
    background-color: #e6f2ff;
}

.appointment-row.editing input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #007bff;
}

